a {
  color: $cr-gray-dark;
  display: block;
  font-weight: 300;
  padding: 11px 15px;
  position: relative;
  text-decoration: none;

  &.is-active,
  &:hover {
    &::after {
      background-color: $cr-cyan;
      bottom: 0;
      content: '';
      display: inline-block;
      height: 2px;
      left: 15px;
      position: absolute;
      width: calc(100% - 30px);
    }
  }
}
