// stylelint-disable a11y/no-display-none
.hidden {
  display: none;
}

nav-section-subnav {
  @include font-family-base;

  div {
    padding: 30px 20px 20px;
  }

  a {
    color: $cr-white;
    display: inline-block;
    font-size: 19px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: capitalize;

    &.all {
      margin-bottom: 30px;
    }
  }

  h2 {
    @media (min-width: $screen-md) {
      display: none;
    }
  }

  // stylelint-disable a11y/font-size-is-readable
  h4 {
    font-size: 11px;
    margin: 0 0 10px;
    opacity: .5;
    text-transform: uppercase;
  }

  ul {
    @include reset-list;

    margin-top: 0;
  }

  .back {
    $height: 13px;
    $width: 7px;

    font-size: 14px;
    position: relative;

    @media (min-width: $screen-md) {
      display: none;
    }

    span {
      display: inline-block;
      height: $height;
      margin-right: 8px;
      padding: 12px 0;
      position: relative;
      top: 1px;
      width: $width;
    }

    svg {
      fill: $cr-white;
      height: $height;
      width: $width;
    }
  }
}
