// stylelint-disable a11y/no-display-none
.hidden {
  display: none;
}

nav-section-subnav {
  @include font-family-base;

  a {
    color: $cr-white;
    display: inline-block;
    font-size: 19px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: capitalize;

    &.all {
      margin-bottom: 30px;
    }
  }

  // stylelint-disable a11y/font-size-is-readable
  h4 {
    font-size: 11px;
    margin: 0 0 10px;
    opacity: .5;
    text-transform: uppercase;
  }

  ul {
    @include reset-list;

    margin-top: 0;
  }
}
