www/
storybook-static/
dist/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.ruby-version
.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.envrc
.vs/

cypress/fixtures/example.json
cypress/integration/examples
cypress/videos
cypress/screenshots
loadenv.ps1
.vs/crds-components/v15/.suo
