@import '../../shared/shared';
@import '../../shared/skeleton.scss';

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.life-stages {
  background-color: #fff;
  min-height: 300px;
  overflow: hidden;

  @media (min-width: 768px) {
    min-height: 500px;
  }

  .life-stages-inner {
    transition: all .45s ease;
  }

  .life-stages-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.875rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .life-stage-selected {
      font-size: .875rem;

      @media (min-width: 768px) {
        margin-left: auto;
      }
    }
  }
}

.cards {
  display: grid;
  grid-auto-columns: 180px;
  grid-auto-flow: column;
  grid-column: 1 / -1;
  grid-gap: 1rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  padding-bottom: 1.875rem;
  scroll-snap-type: x mandatory;
  scrollbar-base-color: transparent;

  &.media-cards {
    grid-auto-columns: 262px;
  }

  @media (min-width: 768px) {
    grid-auto-columns: 220px;
    grid-gap: 1.875rem;

    &.media-cards {
      grid-auto-columns: 400px;
    }
  }

  .card,
  .skeleton-life-stage {
    cursor: pointer;
    height: 340px;
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;

    &:hover {
      cursor: pointer;
    }

    &:hover .bg-overlay {
      opacity: .75;
    }

    .bg-overlay,
    .card-content {
      bottom: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }

    .bg-overlay {
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
      height: 100%;
      transition: all .45s ease;
    }

    .card-content {
      bottom: 0;
      left: 0;
      padding: 1rem;

      .card-title,
      .card-subtitle {
        letter-spacing: .5px;
        margin: 0;
        text-transform: uppercase;
      }

      .card-title {
        color: #fff;
      }

      .card-subtitle {
        color: rgba(255, 255, 255, .75);
        font-size: .75rem;
      }
    }
  }
}

.skeleton-life-stage {
  background-color: #f0f0f0;

  .content {
    bottom: 0;
    padding: 1rem;
    position: absolute;
    width: 100%;

    .text {
      background-color: #fff;
      margin-top: .5rem;
      overflow: hidden;
      position: relative;
    }

    .title {
      height: 24px;
      width: 90%;
    }

    .subtitle {
      height: 16px;
      width: 55%;
    }
  }
}

.text-skeleton {
  width: 100%;

  .title,
  .subtitle {
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
  }

  .title {
    height: 24px;
    margin-bottom: 1rem;
    width: 35%;
  }

  .subtitle {
    height: 16px;
    width: 50%;
  }
}
