header {
  background-color: $cr-cyan;
  display: flex;
  justify-content: space-between;
  padding: 7px 15px;
}

.global-actions,
.user-actions {
  display: flex;

  a {
    &:first-of-type {
      margin-right: 18px;
    }
  }
}

.logo {
  svg {
    fill: $cr-white;
    height: 29px;
    width: 111px;
  }
}

.account,
.donate,
.menu,
.search {
  $size: 22px;

  display: block;
  height: $size;
  margin-top: 5px;
  width: $size;

  svg {
    fill: $cr-white;
    height: $size;
    width: $size;
  }
}
