$top-padding: 50px;

nav {
  background: url('./assets/images/register-bg-mobile@2x.jpg') no-repeat;
  background-size: cover;
  color: $cr-white;
  font-family: $base-font-face;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  width: 100%;

  @media (min-width: $screen-md) {
    background-image: url('./assets/images/register-bg@2x.jpg');
  }

  &.subnavigation-is-showing {
    // background: linear-gradient(181.27deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    // background-image: url('./assets/images/media-landing-bg@2x.jpg');
  }

  > div {
    @include container;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }
}

.subnavigation {
  margin: 0 15px;
  padding-top: 70px;

  @media (min-width: $screen-md) {
    width: 50%;
  }

  // stylelint-disable a11y/font-size-is-readable
  h3 {
    color: #fff;
    font-size: 11px;
    opacity: .5;
    text-transform: uppercase;
  }
}

.navigation {
  position: relative;

  @media (min-width: $screen-md) {
    margin-right: 1.2%;
    width: 50%;
  }

  ul {
    @include reset-list();

    margin-top: 0;
    padding: 30px 0 20px;

    @media (min-width: $screen-md) {
      padding: $top-padding 20px 0;
      position: relative;
      z-index: 1;
    }
  }

  li {
    width: 100%;
  }

  &::after {
    background-color: #d8d8d8;
    bottom: 0;
    content: '';
    height: 2px;
    left: 20px;
    margin: 0 auto;
    opacity: .2;
    position: absolute;
    width: calc(100vw - 40px);

    @media (min-width: $screen-md) {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      height: 100%;
      left: auto;
      right: 55px;
      top: $top-padding;
      width: 2px;
    }
  }
}
