$top-padding: 50px;
$screen-md-portrait: 768px;
$nav-bar-height: 47px;

// ---------------------------------------------------------

$nav-section-background-images: (
  default
  'https://crds-media.imgix.net/7B6MoNNiWMZOtdusfRpipl/ee5ee1e4bab8efcc56f84bf477da6469/nav-section-default-mobile.jpg'
  'https://crds-media.imgix.net/1OTqm9FjFl6wtjCXAkA04V/bbe0eb060b034cd12c8620de520aa557/nav-section-default.jpg'
  212.17deg,
  come-visit
  'https://crds-media.imgix.net/7tP5INZjs0NUsWUlUDRpKv/1cdbe5e8beb3169f2e7ba284e4785d82/nav-section-locations-mobile.jpg'
  'https://crds-media.imgix.net/49tv3Wjdt28dPnim7TbR89/ef433202b082549ddfaa54b9cde5115f/nav-section-locations.jpg'
  191.96deg,
  find-community
  'https://crds-media.imgix.net/67LrfkAcGom2zu23JncnA0/36ec65f58c27e4beccb2662792651f41/nav-section-community-mobile.jpg'
  'https://crds-media.imgix.net/zEx1Ajg3dIlh5SpvzQ1qI/5d98841bd0664c2ae6c2cef112a7074c/nav-section-community.jpg'
  212.17deg,
  get-support
  'https://crds-media.imgix.net/Cx02UnQr9sbVzjpXIcuqY/aad1e94297799b0817ba00884a2f7f2c/nav-section-support-mobile.jpg'
  'https://crds-media.imgix.net/7i7YFUv6uY8MpwztZwIZE0/ed22995c91264a5c476d8e02c87e64dc/nav-section-support.jpg'
  191.96deg,
  watch-listen-read
  'https://crds-media.imgix.net/5lMvnR6A9cavGG4aS0zzO8/247b6b738f33e4401b62ad53512919d8/nav-section-media-mobile.jpg'
  'https://crds-media.imgix.net/59liSAMGW8dBCeUza5NUvj/6fe91fa808518e7a8997e6ba57103f95/nav-section-media.jpg'
  212.17deg
);

// ---------------------------------------------------------

.subnavigation {
  @media (max-width: $screen-md) {
    left: 100vw;
    position: absolute;
    top: 0;
  }

  @media (min-width: $screen-md) {
    padding-top: $nav-bar-height;
  }

  // stylelint-disable a11y/font-size-is-readable
  h3 {
    color: #fff;
    font-size: 11px;
    opacity: .5;
    text-transform: uppercase;
  }
}

// ---------------------------------------------------------

nav {
  background-color: $cr-black;
  background-position-y: $nav-bar-height;
  background-repeat: no-repeat;
  background-size: cover;
  color: $cr-white;
  display: none;
  font-family: $base-font-face;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: $nav-bar-height;
  position: fixed;
  top: 0;
  transform: translateX(0);
  width: 100vw;

  &.is-showing {
    display: block;
  }

  @media (min-width: $screen-md-portrait) {
    height: 100vh;
  }

  @media (min-width: $screen-md) {
    background-size: 100%;
  }

  @each $background-image, $mobile-url, $desktop-url,
    $gradient-degree in $nav-section-background-images {
    @if $background-image == 'default' {
      background-image: url('#{$mobile-url}?auto=format%2Ccompress');

      @media (min-width: $screen-md) {
        background-image: url('#{$desktop-url}?auto=format%2Ccompress');
      }

      .gradient {
        &::after {
          background: linear-gradient(#{$gradient-degree}, rgba(0, 0, 0, .1) 0%, #000 100%);
        }
      }
    }

    @else {
      &.section--#{$background-image} {
        background-image: url('#{$mobile-url}');

        @media (min-width: $screen-md) {
          background-image: url('#{$desktop-url}');
        }

        .gradient {
          &::after {
            background: linear-gradient(#{$gradient-degree}, rgba(0, 0, 0, .1) 0%, #000 100%);
          }
        }
      }
    }
  }

  .gradient {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 54%,
        rgba(0, 0, 0, 0) 81%,
        rgba(0, 0, 0, 1) 100%,
        rgba(0, 0, 0, .9) 100%
      );
    left: 0;
    padding-top: (8 / 5) * 100%;
    position: absolute;
    top: $nav-bar-height;
    width: 100%;
    z-index: 1;

    @media (max-width: $screen-md) {
      bottom: -$nav-bar-height * 2;
    }

    @media (min-width: $screen-md) {
      padding-top: (3 / 8) * 100%;
    }

    &::after {
      bottom: 0;
      content: '';
      left: 0;
      padding-top: (8 / 5) * 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;

      @media (min-width: $screen-md) {
        bottom: unset;
        padding-top: (3 / 8) * 100%;
      }
    }
  }

  .content {
    position: relative;
    width: 200vw;
    z-index: 3;

    @include container;

    @media (max-width: $screen-md) {
      transform: translateX(0);
      transition: transform .2s linear;
    }

    @media (min-width: $screen-md) {
      display: flex;
      padding-bottom: 0;
    }
  }

  &.section--come-visit,
  &.section--find-community,
  &.section--get-support,
  &.section--watch-listen-read {
    .content {
      @media (max-width: $screen-md) {
        transform: translateX(-100vw);
        transition: transform .2s linear;
      }
    }

    .ctas {
      @media (min-width: $screen-md) {
        display: none;
      }
    }

    .subnavigation {
      @media (min-width: $screen-md) {
        width: 100%;
      }

      @media (min-width: $screen-md) {
        width: calc(50% - 40px);
      }
    }
  }

  &.section--come-visit {
    .gradient {
      height: 100vh;

      &::after {
        height: 100vh;
      }
    }
  }
}

// ---------------------------------------------------------

.navigation {
  position: relative;
  width: 100vw;

  @media (min-width: $screen-md) {
    margin-right: 1.2%;
    width: 50%;
  }

  ul {
    @include reset-list();

    margin: 0;
    padding: 30px 0 20px;

    @media (min-width: $screen-md) {
      padding: $top-padding 20px 0;
      position: relative;
      z-index: 1;
    }
  }

  li {
    width: 100%;
  }

  &::after {
    background-color: #d8d8d8;
    bottom: 0;
    content: '';
    height: 2px;
    left: 20px;
    margin: 0 auto;
    opacity: .2;
    position: absolute;
    width: calc(100vw - 40px);

    @media (min-width: $screen-md) {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      height: 100%;
      left: auto;
      right: 56px;
      top: $top-padding;
      width: 2px;
    }
  }
}

.close {
  $circle-size: 64px;
  $position: 22px;

  background-color: $cr-cyan;
  border-radius: 50%;
  bottom: $position;
  box-shadow: 0 5px 24px -5px rgba(0, 0, 0, .75);
  display: none;
  height: $circle-size;
  left: $position;
  position: fixed;
  width: $circle-size;
  z-index: 3;

  &.is-showing {
    @media (max-width: $screen-md) {
      display: block;
    }
  }

  svg {
    $size: 30px;

    fill: $cr-white;
    height: $size;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $size;
  }
}
