header {
  background-color: $cr-cyan;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;

  @supports (position: sticky) {
    position: sticky;
  }

  &.nav-is-showing {
    position: fixed;

    @supports (position: sticky) {
      position: sticky;
    }
  }

  > div {
    @include container();

    padding: 0 $global-nav-padding;
    position: relative;
  }
}

.global-nav-items {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.global-actions,
.user-actions {
  display: flex;

  a {
    padding-right: 7px;
    padding-left: 7px;
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.logo {
  left: 50%;
  margin: 7px 0 0 -52px;
  position: absolute;

  svg {
    fill: $cr-white;
    height: 29px;
    width: 111px;
  }
}

$icon-size: 22px;

.account,
.donate,
.menu,
.search,
.my-site {
  display: block;
  height: $icon-size;
  padding: 12px 0;
  width: $icon-size;

  svg {
    height: $icon-size;
    width: $icon-size;
  }
}

.account {
  .account-authenticated {
    background-color: $cr-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: $icon-size;
    border: 1.5px solid $cr-white;
    border-radius: 50%;
    box-sizing: border-box;
    height: $icon-size;
    width: $icon-size;

    @media (hover) {
      &:hover {
        filter: brightness(90%);
      }
    }
  }
}

.close {
  $size: 26px;

  display: block;
  height: $size;
  padding: 9px 0;
  width: $size;

  svg {
    height: $size;
    width: $size;
  }
}

.give-container,
.menu-container,
.profile-container,
.search-container,
.my-site-container {
  color: $cr-white;
  cursor: pointer;
  display: flex;
  text-decoration: none;

  &::after {
    @media (min-width: $screen-sm) {
      align-self: center;
      bottom: 2px;
      content: attr(data-label);
      display: inline-block;
      font-size: 13px;
      margin-left: 7px;
      position: relative;
      text-transform: capitalize;
    }
  }

  svg {
    fill: $cr-white;
  }

  @media (hover) {
    &:hover {
      color: darken($cr-white, 20);

      svg {
        fill: darken($cr-white, 20);
      }
    }
  }
}

$has-close-button: (
  menu-container: menu,
  profile-container: account,
  give-container: donate,
  my-site-container: mySite /*added to get X icon working for My Site*/
);

@each $container, $icon in $has-close-button {
  .#{$container} {
    .close {
      display: none;
      margin-right: -4px;
    }

    &.nav-is-showing {
      @media (min-width: $screen-sm) {
        .#{$icon} {
          display: none;
        }

        .close {
          display: block;
        }
      }
    }
  }
}

.close-nav {
  $padding: 22px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  bottom: 0;
  display: none;
  height: $close-container-height;
  padding-left: $padding;
  position: fixed;
  width: 100%;
  z-index: 3;

  &.is-showing {
    @media (max-width: $screen-sm - 1) {
      display: block;
    }
  }

  &-icon {
    $circle-size: 64px;

    background-color: $cr-cyan;
    border-radius: 50%;
    bottom: $padding;
    box-shadow: 0 5px 24px -5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    height: $circle-size;
    position: absolute;
    width: $circle-size;
  }

  svg {
    $size: 30px;

    fill: $cr-white;
    height: $size;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $size;
  }
}

.popper-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.97) 0%,rgba(0, 0, 0, 0) 100%);
  z-index: 3; 
  top: 0; 
  position: sticky;
  height: 38px; 
  width: 100%; 
  display: none;

  &.is-showing {
    @media screen and (max-width: $screen-sm - 1) {
      display: block;
    }
}
}