.give-nav,
.profile-nav {
  @include nav-items;

  background-color: $cr-black;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 47px;
  width: 100vw;
  z-index: 2;

  @media (min-width: $screen-md) {
    height: auto;
    left: auto;
    margin-right: -$global-nav-padding;
    position: absolute;
    right: $global-nav-padding;
    width: 375px;
  }

  @media (min-width: $container-large-desktop) {
    margin-right: 0;
  }

  ul {
    &:last-of-type {
      padding-bottom: 30px;
    }
  }
}

$imgix-url: 'https://crds-media.imgix.net/';

$background-images: (
  give: '6sNxa1MWhMOfjhAB47yTCa/fe148ae3581a60e0e076f7e6a2c5fd21/nav-give.jpg',
  profile: 'WgeyOtqcX4tb1uQlPCtcc/072edb0cc0185a6985b56e5ffd1c8458/nav-profile-bkg-default.jpg'
);

@each $nav-type, $image in $background-images {
  .#{$nav-type}-nav {
    background-image: url('#{$imgix-url}#{$image}?auto=format%2Ccompress');
  }
}
