// Blue (Primary)
$cr-blue: rgba(59, 110, 143, 1); // #3B6E8F
$cr-blue-dark: rgba(39, 66, 84, 1); // #274254
$cr-blue-light: rgba(165, 189, 204, 1); // #A5BDCC
$cr-blue-lighter: rgba(219, 228, 234, 1); // #DBE4EA

// Cyan (Secondary)
$cr-cyan: rgba(0, 149, 217, 1); // #0095D9
$cr-cyan-dark: rgba(0, 109, 158, 1); // #006D9E
$cr-cyan-light: rgba(139, 206, 237, 1); // #8BCEED
$cr-cyan-lighter: rgba(208, 235, 248, 1); // #D8EBF8
