// Blue (Primary)
$cr-blue: rgba(59, 110, 143, 1); // #3B6E8F
$cr-blue-dark: rgba(39, 66, 84, 1); // #274254
$cr-blue-light: rgba(165, 189, 204, 1); // #A5BDCC
$cr-blue-lighter: rgba(219, 228, 234, 1); // #DBE4EA

// Cyan (Secondary)
$cr-cyan: rgba(0, 149, 217, 1); // #0095D9
$cr-cyan-dark: rgba(0, 109, 158, 1); // #006D9E
$cr-cyan-light: rgba(139, 206, 237, 1); // #8BCEED
$cr-cyan-lighter: rgba(208, 235, 248, 1); // #D8EBF8

// Gray
$cr-gray-darker: rgba(21, 21, 21, 1); // #151515
$cr-gray-dark: rgba(77, 77, 77, 1); // #4D4D4D
$cr-gray: rgba(115, 115, 115, 1); // #737373
$cr-gray-light: rgba(151, 151, 151, 1); // #979797
$cr-gray-lighter: rgba(231, 231, 231, 1); // #E7E7E7
$cr-black: rgba(0, 0, 0, 1); // #000000
$cr-white: rgba(255, 255, 255, 1); // #FFFFFF

// Teal
$cr-teal: rgba(87, 175, 169, 1); // #57AFA9
$cr-teal-dark: rgba(65, 128, 123, 1); // #41807B
$cr-teal-light: rgba(179, 218, 215, 1); // #B3DAD7
$cr-teal-lighter: rgba(224, 240, 239, 1); // #E0F0EF
