@import '../../assets/stylesheets/globals/variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import '../../../node_modules/crds-styles/assets/stylesheets/components/buttons/buttons';
@import '../../../node_modules/crds-styles/assets/stylesheets/components/buttons/buttons-groups';
@import '../../../node_modules/crds-styles/assets/stylesheets/components/form-states';
@import '../../../node_modules/crds-styles/assets/stylesheets/components/typography';
@import '../../../node_modules/crds-styles/assets/stylesheets/utilities/utilities';

[data-toggle='buttons'] > .btn input[type='radio'],
[data-toggle='buttons'] > .btn input[type='checkbox'],
[data-toggle='buttons'] > .btn-group > .btn input[type='radio'],
[data-toggle='buttons'] > .btn-group > .btn input[type='checkbox'] {
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  position: absolute;
}

.btn-group {
  > .btn {
    padding: 7px 10px;

    &:not(:active).btn-white {
      background: none;
      color: #ffffff;
    }

    &:not(:active).btn-white:hover {
      color: #ffffff;
    }

    &.btn-white:first-child,
    &.btn-white.active:first-child,
    &.btn-white:last-child,
    .active.btn-white.active,
    .active.btn-white.active:hover,
    &:not(:active).btn-white:hover {
      border-color: #ffffff;
    }
  }
}
