@import '../../shared/shared.scss';

.greeting {
  opacity: 0;
  transition: opacity .45s .25s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15),0 4px 7px 0 rgba(0,0,0,0.05);
  border-radius:11px;
  background-color: white;

  &.fade-in {
    opacity: 1;
  }
}

.m-auto-ends {
  margin: auto 0;
}

.greeting-image {
  max-width: 30%;
}

.morning-color {
  color: #DF541A
}

.afternoon-color{
  color: #FDD24D
}

.evening-color {
  color: #426282
}

@media screen and (max-width: 414px){
.mobile-header {
  font-size: 1.6rem !important;
  }
}