@import '../../assets//stylesheets/globals/variables';

.crds-img-container {
  display: block;
  position: relative;
  overflow: hidden;

  &.card {
    height: 202px;
  }

  &.thumbnail {
    height: 65px;
  }

  .crds-img {
    height: 100%;
  }
  .crds-img.loaded {
    animation-name: fade-in;
    animation-duration: 1s;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    filter: blur(20px);
  }
  50% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0.1px);
  }
}
