@import '../../assets//stylesheets/globals/variables';

.crds-img-container {
  background-color: rgb(221, 221, 221);
  display: flex;
  overflow: hidden;
  position: relative;

  .crds-img {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .crds-img.loaded {
    animation-duration: 1s;
    animation-name: fade-in;
  }
}

@keyframes fade-in {
  0% {
    filter: blur(20px);
    visibility: hidden;
  }

  50% {
    filter: blur(20px);
  }

  100% {
    filter: blur(.1px);
  }
}

.crds-img-container {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: (2 / 3) * 100%;
    width: 100%;
  }
}
